header,h1{
	text-align: center;
	color: white;
}

body{
	background-color:#2589bd;
	margin: 30px;
}

label,p{
	font-family:cursive;
	margin-bottom: 5px;
	display: inline-block;
}

button{
	width: auto;
	height: 40px;
	border-radius: 5px;
	margin: 5px;
}

button:hover{
	background-color:grey ;
}

button:active{
	color:white ;
}

fieldset input{
	border-radius: 5px;
	float:right;
	margin-right:25%;
	width:40%;
	display: inline-block;
}

input:invalid{
	background-color: pink;
}

#buttonSection{
	margin-top: 20px;
}
fieldset{
	padding: 20px;
	border-radius: 10px;
	width:50%;
}

#contactTable,#contactTable th,#contactTable td{
border:2px solid #2589bd;
border-collapse: collapse;
margin:0px;
color:white;
padding:10px;
background-color:purple;
}

#contactTable th{
	color:yellow;
}

th:hover{
	background-color: grey;
}

th:active{
	color:black;
}

#tablesDiv{
	/*border: 1px solid #ccc;*/
	margin-top: 20px;
}

#contactTableDiv{
	/*border: 1px solid #ccc;*/
	display: inline-block;
	width:50%;
}

#searchTableDiv{
	/*border: 1px solid #ccc;*/
	display: inline-block;
	margin-left: 10px;
}

#searchTableDiv input{
	border-radius: 5px;
	height:30px;
	width:300px;
}

#searchTable, #searchTable tr{
	border:none;
	border-collapse: collapse;
	color:white;
	background-color:rgba(128, 0, 128, 0.5);

}

#searchTable{
	margin-left: 60px;
}

#searchTable td{
	padding:10px;
}